<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pt">
<head>
  <meta charset="UTF-8" />
  <title>Sistema de Controle de Caixa</title>


  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha385-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">

</head>
<body>


<div class="container my-2">
  <h1>Sistema de Controle de Caixa</h1>
  <hr>
  <h2>Caixa/Conta</h2>
  <form action="#" th:action="@{/caixas/salvar}" th:object="${caixa}" method="POST">
    <input type="hidden" id="id" th:field="*{id}">

    <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" class="text-danger"></span>
    <input type="text" th:field="*{descricao}" placeholder="Descrição" class="form-control mb-4 col-4">

    <span th:if="${#fields.hasErrors('saldoInicial')}" th:errors="*{saldoInicial}" class="text-danger"></span>
    <input type="number" th:field="*{saldoInicial}" placeholder="Saldo Inicial" class="form-control mb-4 col-4">



    <button type="submit" class="btn btn-info col-2">Salvar</button>
  </form>
  <hr>
  <a th:href="@{/caixas}">Voltar para lista de contas</a>
</div>
</body>
</html>