<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="PT">
<head>
  <meta charset="UTF-8" />

  <title>Sistema de Controle de Caixa</title>


  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha385-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
  >

</head>
<body>


<div class="container my-2">
  <a th:href="@{/caixas/nova}" class="btn btn-primary btn-sm mb-3">Nova Conta</a>
  <h1>Caixa - Contas</h1>
  <table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Descrição</th>
      <th>Saldo Inicial</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="caixas : ${listaCaixas}">
      <td th:text="${caixas.descricao}"></td>
      <td th:text="${caixas.saldoInicial}"></td>
      <td>
        <a th:href="@{/caixas/{id}(id=${caixas.id})}" class="btn btn-primary">Editar </a>
        <a th:href="@{/caixas/apagar/{id}(id=${caixas.id})}" class="btn btn-danger"> Apagar </a>
      </td>


    </tr>
    </tbody>
  </table>
</div>
</body>
</html>