<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="PT">
<head>
  <meta charset="UTF-8" />

  <title>Sistema de Controle de Caixa</title>


  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha385-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
  >

</head>
<body>


<div class="container my-2">
  <a th:href="@{/movimentacoes/nova}" class="btn btn-primary btn-sm mb-3">Nova Movimentação</a>
  <h1>Movimentações</h1>
  <table  class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Descrição</th>
      <th>Data</th>
      <th>Tipo</th>
      <th>Valor</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movimentacoes : ${listaMovimentacoes}">
      <td th:text="${movimentacoes.descricao}"></td>
      <td th:text="${movimentacoes.data}"></td>
      <td th:text="${movimentacoes.tipo}"></td>
      <td th:text="${movimentacoes.valor}"></td>
      <td th:text="${movimentacoes.caixa.descricao}"></td>
      <td>
        <a th:href="@{/movimentacoes/{id}(id=${movimentacoes.id})}" class="btn btn-primary">Editar </a>
        <a th:href="@{/movimentacoes/apagar/{id}(id=${movimentacoes.id})}" class="btn btn-danger"> Apagar </a>
      </td>


    </tr>
    </tbody>
  </table>
</div>
</body>
</html>